<strong> Olá, {{ student }} </strong>
<p>Sua pergunta foi respondida:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta </strong> {{ answer }} <br />
  <strong>Data: </strong> {{ answer_at }} <br />
  <br />
  <small>
    Não deixe nenhuma dúvida sem resposta.
  </small>
</p>

