<strong> Olá, {{ student }} </strong>
<p>Sua matrícula foi confirmada, segue os dados:</p>
<p>
  <strong>Plano: </strong> {{ title }} <br />
  <strong>Data: </strong> {{ date }} <br />
  <strong>Valor: </strong> {{ value }} <br />
  <br />
  <small>
    Seja bem vindo ao GymPoint.
  </small>
</p>

